<div class="postfooter" uk-grid>
    <div class="uk-width-1-1 uk-width-1-2@l uk-text-left">
        Share this &rarr;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@l uk-text-right">
        <a class="uk-text-right" href="#home" uk-scroll>zurück nach oben</a>
    </div>
</div>