---
layout: default

---
<a name="#home"></a>

<div class="uk-container uk-width-1-1 uk-width-2-3@l">

       <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-left uk-flex-bottom mainimage" style="background-image: url({{ page.cover}});">
        <h4>{{ page.title }}</h4>
       </div>

        <div class="content">
             
            {{ content }}
        <hr>
        <div class="uk-container uk-width-1-1 postfooter">{% include footer-post.html %}</div>
    </div>


</div>

